{% extends "base.html" %}

{% block title %}The Site{% endblock %}
{#{% block header_text %}MultiChat Example{% endblock %}#}

{% block content %}
    <div class="phase phase-1">
      <p>
        Please wait.
      </p>
      <p>
        The Site is currently being used.
      </p>
    </div>
    <div class="phase phase-2">
      You are number <span id="line-number"></span> in line
    </div>

{% endblock %}
{#{% block scripts %}#}
{#  <script src="js/sockets.js"></script>#}
{#  <script src="js/waiting-room.js"></script>#}
{#{% endblock %}#}
{##}
{#{% block extra_body %}#}
{#    <script>#}
{##}
{#    </script>#}
{#{% endblock %}#}
