{% extends "base.html" %}
{% load staticfiles %}
{% block title %}The Website{% endblock %}
{% block content %}
    <header>
        <div class=logo">
          {% include "includes/logo.html" %}
        </div>
    </header>
    <div class="overlay">
      <div class="loader"></div>
      <img src="{% static "img/offer-1.png" %}" class="offer-img" />
    </div>

    <div class="waiting-room-content">
      <span class="line-number-text">
        <span class="line-number"></span>
      </span>
      <br/>
      Please wait.
    </div>

{% endblock %}