/* BLUE IS #0000ff */
.phase {
    display: none;
}

header h1 {
    font-family: "Basic Sans", sans-serif;
    font-size: 82px;
    font-weight: 700;
    color: #0000ff;
    line-height: 70px;
}

.logo div {
    text-align: left;
}
/* the website */
.section-title {
    border-bottom: 1px solid black;
}

.col-2.logo-hr {
    border-bottom: 3px solid #222;
    margin-bottom: 30px;
}

.weather {
    font-family: "Times New Roman";
    color: #0000ff;
}

.weather-value {
    font-size: 53px;
}
.degrees {
    font-size: 53px;
}